html{
    font-size:100%;
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

*{
   margin:0;
   padding:0;
   scrollbar-width: none;
}
body{

    line-height: 1.3;
    font-size:20px;
}
a,li{
    list-style: none;
    text-decoration: none;
    color:black;
}
a:visited{
    text-decoration: none;
}
::-webkit-scrollbar {
    display: none;
}
