.header{
    height:8vh;
    width:100%;
    background-color: white;
    position:fixed;
    top:0;
    padding:0.75rem;
   
    
    .nav{
      
        display:flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        &__container{
            width:35%;
            display:flex;
            justify-content: space-between;
            position:relative;

            &-logo{
                border-right: 2px solid rgb(10, 10, 10, 0.3) ;
                padding-right:0.78rem;
                margin-right: 4rem;
                font-family: 'Great Vibes', cursive;
                color:green;
                align-self: center;
                font-size:1.45rem;

            }

            .dropdown-main{
                 
                display:flex;
                width:50vw;
                justify-content: space-between;

                .dropdown{
                    display:flex;
                    height:100%;
                    width:5rem;
                    align-items: center;
                    justify-content: space-evenly;
                    font-size:0.9rem;
                    button{
                        font-size:inherit;
                        width: 70%;
                        display: flex;
                        align-items: center;
                        justify-content:space-evenly;                 
                        border: none;
                        cursor: pointer;
                    }
                    &.second{
                        flex-grow:0.5;
                    }
                    .dropbtn{      
                        align-self: center;
                        border:none;
                        background-color: white;    
                    }

                    .dropdown-content{
                        display: none;
                        position: absolute;
                        top:1.8rem;
                        background-color: #f1f1f1;
                        min-width: 100px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        a{
                            text-align: center;
                        }
                        &.show{
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }

            // div{
            //     display:flex;
            //     justify-content: center;
            //     align-items: center;
            //     position: relative;
            // }

            // #search{
            //     /* position:relative;*/
            //     height:1.5rem;
            //     width:6.75rem; 
            //     text-align: center;
            //   /*   position:absolute;
            //     top:1rem; */
            //     border-radius: 0.625rem;
            // }

            // #searchImg{
            //     z-index: 2;
            //     position:absolute;
            //     right:10px;
            //     width:0.629rem;
            //     height:0.629rem;
            // }
        }
    } 


    &__menu{
        margin:0.75rem;
        align-self: center;

        &-burger{
            display:block;
            position:relative;
            width:28px;
            height:3px;
            background:black;
            
            &:not(:last-child){
                margin-bottom: 3px;
            }
                     
        }

    
    }
}
