@import 'globals', 'variables','header','explore','footer';

main{
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 243, 241);
    height: 100%;
    padding-top:4.5rem;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: 'Roboto', sans-serif;

    .main__aside{
        display:block;
        width:8rem;
        padding-left: 1.2rem;
        left: 0;
        position: fixed;
        &-heads{
            display:block;
            font-size:0.9rem;
            color:rgba(10,10,10,0.5);
            text-transform: uppercase;
            padding-bottom:0.8rem;    
        }
        &-uls{
            font-size:1rem;
            font-weight:400;
            padding-bottom: 1.5rem;
            margin-bottom:1rem;
            border-bottom:2px solid rgba(10,10,10,0.189);

            &-items{

                &:hover{
                    opacity:0.7;
                }
                
                &:not(:last-child){
                    padding-bottom:0.5rem;
                }
                a{
                    color:black;
                }
            }
        }

        #button{
            cursor: pointer;
            display:inline-block;
            height:1.5rem;
            width:5rem;
            align-self: center;
            text-align: center;
            color:white;
            border-radius: 5px;
            background-color: green;
            padding-top: 0.28rem;
            font-size:0.7rem;
        }
    }

    .main__section{
        // padding-top: 0.1875rem;
        width:80vw;
        #movie-name{
            display:flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;
            padding:0.55rem;
            background-color: dimgray;
            color:white;
            span{
                
                font-size:2rem;
                font-weight: 400;
            }
    
            .rating{
                h5{
                    span{
                        font-size:1rem;
                        padding-left: 0.5rem;
                        color:rgb(163, 150, 150);
                    }
                }
                .stars{
                    span{
                        font-size: 1rem;
                    }
                    .checked{
                        color:orange;
                    }
                }
            }
        }
        .upcoming_event{
            width:80vw;
            margin-bottom:2rem;

            .img-slider{
                display:flex;
                flex-direction: row;
                .slide{
                    width:100%;
                    .video-js.vjs-fluid, .video-js.vjs-16-9, .video-js.vjs-4-3 {
                        height: 27rem;
                        width: 100%;
                    }  
                    
                    #my-video{
                        .vjs-error-display{
                            display:none;
                        }

                        .vjs-poster{
                            width:3rem;
                            height:3rem;
                        }
                    }
                    #info{
                        margin-top:1rem;
                        h3{
                            color:green;
                            text-shadow:0.1px 0.1px 1px black;
                            padding-bottom:0.47rem;
                        }
                        h4{
                            font-size: 1.18rem;
                            color:rgba(10,10,10,0.7);
                            font-weight: 500;
                            margin-bottom: 0.8rem;
                        }
                        p{
                            font-size:1.10rem;
                            padding-left: 1rem;
                            border-left: 2px solid green;

                            &.hide{
                                display:none;
                            }
                        }
                    }
                }
                .cast{
                    padding: 2rem;
                    background: dimgray;
                    height: 27rem;
                    margin-left: 1rem;
                    #genre-detail{
                       display:flex;
                       flex-direction: row;
                       height: 2.2rem;            
                       margin-bottom: 0.8rem;
                        li{
                           height: 100%;
                           text-align: center;
                           padding-top: 0.17rem;
                           border: 2px solid rgb(52, 173, 52);
                           border-radius: 17px;
                           padding: 0.65rem;
                           line-height: 50%;
                           &:not(:last-child){
                               margin-right:1.4rem;
                           }
                       }

                       &.toggleDisplay{
                           display:none;
                       }
                   }
                   
                   #title{
                    display:flex;
                    flex-direction: row;
                    height: 2.6rem;            
                    border-bottom: 2px solid rgb(141, 223, 152);
                    border-top: 2px solid rgb(141, 223, 152);
                    padding:0.3rem;
                    
                    li{
                        height: 100%;
                        text-align: center;
                        padding: 0.65rem;
                        line-height: 50%;
                        margin-left: 2rem;
        
                        &::before{
                            position: relative;
                            right:1.4rem;
                            content:"\2022";
                            color:black;
                        }
                        
                    }
                   }

                   .stars{
                    position: relative;
                    left: 1rem;
                   }
                   .starring{
                        display:flex;
                        flex-direction: row;            
                        margin-bottom: 0.4rem;
                        border-bottom: 2px solid rgb(141, 223, 152);
                        padding:0.3rem;
                        flex-wrap: wrap;
                        li{
                            height: 100%;
                            text-align: center;
                            padding: 0.65rem;
                            line-height: 50%;
                            margin-left: 2rem;
            
                            &::before{
                                position: relative;
                                right:1.4rem;
                                content:"\2022";
                                color:black;
                            }
                            
                       }
                   }

                   .certs{
                    display:flex;
                    flex-direction: row;            
                    margin-bottom: 0.4rem;
                    border-bottom: 2px solid rgb(141, 223, 152);
                    padding:0.3rem;

                    li{
                        height: 100%;
                        text-align: center;
                        padding: 0.65rem;
                        line-height: 50%;
                        margin-left: 2rem;
        
                        &::before{
                            position: relative;
                            right:1.4rem;
                            content:"\2022";
                            color:black;
                        }
                        
                   }

                   }
                      h4{
                          display: inline-block;
                          height: 100%;
                           text-align: center;
                           padding-top: 0.17rem;
                           padding: 0.65rem;
                           line-height: 50%;
                      }
                   }
            }
        }
        .main__section-one{
                height:100vh;
            
            h2{
                font-size: 1.26rem;
                color:rgba(10,10,10,0.4);
                font-weight: 200;
                padding-bottom:0.82rem;
            }
            &-books{
                overflow:scroll;
                display:flex;
                flex-direction: row;
                padding-bottom:1.7rem;
                scroll-behavior: smooth;

                .paddles{
                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    width: 50%;
                    .left-paddle{
                        position:relative;
                        background-color: transparent;
                        border-radius: 8px;
                        color:white;
                        font-size:1.5rem;
                        top:4rem;
                        outline: unset;
                        height:4rem;
                        width:3rem;
                        
                        &.opacity{
                            display:none;
                        }
                    }
                
                .right-paddle{
                        position:relative;
                        background-color: transparent;
                        border-radius: 8px;
                        color:rgb(255, 255, 255);
                        outline: unset;
                        font-size:1.5rem;
                        top:4rem;
                        left:27rem;
                        height:4rem;
                        width:3rem;
                        
    
                        &.opacity{
                            display:none;
                        }
                    }
                } 
                &-card{     
                    font-size:0.9rem;
                    margin-right: 1.5rem;
                    a{
                        cursor:pointer;
                    }
                    p{
                        color:rgba(10,10,10,0.4);
                    }
                    
                    img{
                        width:157px;
                        height:232px;
                        padding-bottom:0.8125rem;
                    }
                    h4{
                        padding-bottom: 0.135rem;
                    }
                    p{
                        padding-bottom: 0.275rem;
                    }

                    .stars{
                        .checked{
                            color:orange;
                        }
                    }
                }
            }
        }
    }

    .main__aside-two{
        padding-left:1rem;
        right: 0;
        position: fixed;
    }
}

